/* Reset CSS */

@media (max-width: 350px) {
    .menu {
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    .menu-logo {
        padding-right: 140px;
    }

  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #FFEDED;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

/* Menu */

.menu {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #FFB9B9;
    height: 80px;
}

.menu-logo {
    width: 60px;
    height: auto;
}

.menu-logo p {
    font-size: 1.6em;
    padding: 10px 0px 10px 30px;
    margin-left:5px;
}

.menu-ul li a {
    padding: 5px;
    margin-right: 30px;
}

.menu-ul a:hover {
	color: #FFEDED;
}

/* Conteudo blog */

.box-icon {
    background-color: #FFEDED;
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
}

.autor-icon {
   
    margin: 20px 0 0 10px;
    width: 100px;
    height: auto;
}

.autor-icon img {
    width: 100%;
    border-radius: 190%;
    border: 2px solid black;
}

.autor-icon p {
    text-align: center;
    font-weight: bold;
    padding-top: 5px ;
    border-bottom: 1px solid black;
}

.container {
    background-color: #FFEDED;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}




.post {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:40px;
    margin-right: 40px;
    width: 90%;
    border-radius: 10px;
   
}

.post h1 {
    padding: 20px;
    text-align: justify;
    color: black;
    font-size: 1.5em;
}

.post p {
    font-size: 1.3em;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.post-img img {
    width: 100%;
    height: 400px;
    padding: 20px 20px 0 20px;
}

.post-img p {
    text-align: center;
}

/* Contato */

.contato {
    margin-top: 20px;
    width: 100%;
    background-color: #F08787;
    padding-bottom: 20px;
}

.contato h1 {
    padding: 10px 0 10px 15px;
    text-align: left;
}

.box-contato ul li {
    display: flex;
    flex-direction: column;
}

.box-contato ul li a {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.box-contato a:hover {
	color: #FFEDED;
}


/* Footer */

.rodape {
    display: flex;
	background:#FFB9B9;
	height: 80px;
	align-items: center;
    justify-content: center;
}